/* Estilização da seção do título */
.titulo {
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #000000;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.titulo h1 {
  font-size: 25px;
  padding: 10px 20px;
  display: inline-block;
  font-family: 'Arial', sans-serif;
  max-width: 100%;
  padding: 15px; /* Reduzindo o padding para telas menores */
  text-align: center;
  border-radius: 10px;
  text-transform: uppercase;
  

}


/* Estilização da seção dos parceiros */
#parceiros-section {
  padding: 40px 0;
  background-color: #f2f2f2;
  max-width: 500px;
  opacity: 0; /* Inicia com opacidade 0 para o texto estar invisível */
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) fadeIn both;
}

.parceiros {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;  /* Reduzindo a largura */
  margin-bottom: 60px;
  padding: 30px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
  opacity: 0; /* Inicia com opacidade 0 para o texto estar invisível */
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) fadeIn both;
  
}

.parceiros h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 10px;
}

.parceiros a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px;
  transition: transform 0.3s ease;
}

.parceiros a:hover {
  transform: scale(1.10);
}

/* ... (códigos anteriores) ... */

/* Estilização da seção dos parceiros */
.parceiros img {
  width: 320px;
  height: 280px;
  object-fit: contain;
  object-position: center center;
  border-radius: 6px;
  margin-bottom: 10px;
  border: 0.5px solid #e0e0e0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

/* Media queries para responsividade */
@media (max-width: 768px) {
  .titulo h1 {
    font-size: 30px;
  }

  .parceiros {
    flex-direction: column;
    align-items: center;
  }

  .parceiros img {
    width: 180px; /* Definindo largura consistente para todos os parceiros */
    height: 180px; /* Mantendo a altura igual para evitar deformações */
    margin-bottom: 15px;
  }
}

@media (max-width: 435px) {
  .titulo h1 {
    font-size: 20px;
  }

  .parceiros img {
    width: 150px; /* Reduzindo a largura para dispositivos ainda mais estreitos */
    height: 150px; /* Mantendo a altura igual */
    margin-bottom: 60px;
  }
}

